 <div class="col-md-6">
                     <div class="row book_an_apointment_items" style="position: relative; top: 20px;">
                        <!-- item-1 -->
                        <div class="col-md-6">
                           <a href="/fe/book/appointment">
                              <div class="card" style="width: 100%;height: 200px; position: relative;">
                                 <div class="card-body">
                                   <h5 class="card-title text-center apointment_service_title" style=" position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);">Ground Floor</h5>
                                 </div>
                               </div>
                           </a>
                        </div>

                        <!-- item-2 -->
                        <div class="col-md-6">
                           <a href="/fe/book/appointment">
                              <div class="card" style="width: 100%;height: 200px;">
                                 <div class="card-body">
                                   <h5 class="card-title text-center apointment_service_title" style=" position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);">1st Floor</h5>
                                 </div>
                               </div>
                           </a>
                        </div>

                     </div>
                     <br>
                     <div class="row book_an_apointment_items" style="position: relative; top: 20px;">
                        <!-- item-1 -->
                        <div class="col-md-6">
                           <a href="#">
                              <div class="card"style="width: 100%;height: 200px;">
                                 <div class="card-body">
                                   <h5 class="card-title text-center apointment_service_title" style=" position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);">4th Floor</h5>
                                 </div>
                               </div>
                           </a>
                        </div>

                        <!-- item-2 -->
                        <div class="col-md-6">
                           <a href="/fe/contact">
                              <div class="card" style="width: 100%;height: 200px;">
                                 <div class="card-body">
                                   <h5 class="card-title text-center apointment_service_title" style=" position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);">5th Floor</h5>
                                 </div>
                               </div>
                           </a>
                        </div>

                     </div>
                     <br>
                     <div class="row book_an_apointment_items" style="position: relative; top: 20px;">
                        <!-- item-1 -->
                        <div class="col-md-6">
                           <a href="#">
                              <div class="card" style="width: 100%;height: 200px;">
                                 <div class="card-body">
                                   <h5 class="card-title text-center apointment_service_title" style=" position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);">8th Floor</h5>
                                 </div>
                               </div>
                           </a>
                        </div>

                        <!-- item-2 -->
                        <div class="col-md-6">
                           <a href="/fe/event/list">
                              <div class="card" style="width: 100%;height: 200px;">
                                 <div class="card-body">
                                   <h5 class="card-title text-center apointment_service_title" style=" position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);">9th Floor</h5>
                                 </div>
                               </div>
                           </a>
                        </div>

                     </div>

                     <br>
                     <div class="row book_an_apointment_items" style="position: relative; top: 20px;">
                        <!-- item-1 -->
                        <div class="col-md-6">
                           <a href="#">
                              <div class="card" style="width: 100%;height: 200px;">
                                 <div class="card-body">
                                   <h5 class="card-title text-center apointment_service_title" style=" position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);">12th Floor</h5>
                                 </div>
                               </div>
                           </a>
                        </div>

                        <!-- item-2 -->
                        <div class="col-md-6">
                           <a href="/fe/event/list">
                              <div class="card" style="width: 100%;height: 200px;">
                                 <div class="card-body">
                                   <h5 class="card-title text-center apointment_service_title" style=" position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);">13th Floor</h5>
                                 </div>
                               </div>
                           </a>
                        </div>

                     </div>


                  </div>

<!-- col-2 -->
                  <div class="col-md-6">
                     <div class="row book_an_apointment_items" style="position: relative; top: 20px;">
                        <!-- item-1 -->
                        <div class="col-md-6">
                           <a href="/fe/book/appointment">
                              <div class="card" style="width: 100%;height: 200px;">
                                 <div class="card-body">
                                   <h5 class="card-title text-center apointment_service_title" style=" position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);">2nd Floor</h5>
                                 </div>
                               </div>
                           </a>
                        </div>

                        <!-- item-2 -->
                        <div class="col-md-6">
                           <a href="/fe/book/appointment">
                              <div class="card" style="width: 100%;height: 200px;">
                                 <div class="card-body">
                                   <h5 class="card-title text-center apointment_service_title" style=" position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);">3rd Floor</h5>
                                 </div>
                               </div>
                           </a>
                        </div>

                     </div>
                     <br>
                     <div class="row book_an_apointment_items" style="position: relative; top: 20px;">
                        <!-- item-1 -->
                        <div class="col-md-6">
                           <a href="#">
                              <div class="card" style="width: 100%;height: 200px;">
                                 <div class="card-body">
                                   <h5 class="card-title text-center apointment_service_title" style=" position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);">6th Floor</h5>
                                 </div>
                               </div>
                           </a>
                        </div>

                        <!-- item-2 -->
                        <div class="col-md-6">
                           <a href="/fe/contact">
                              <div class="card" style="width: 100%;height: 200px;">
                                 <div class="card-body">
                                   <h5 class="card-title text-center apointment_service_title" style=" position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);">7th Floor</h5>
                                 </div>
                               </div>
                           </a>
                        </div>

                     </div>
                     <br>
                     <div class="row book_an_apointment_items" style="position: relative; top: 20px;">
                        <!-- item-1 -->
                        <div class="col-md-6">
                           <a href="#">
                              <div class="card" style="width: 100%;height: 200px;">
                                 <div class="card-body">
                                   <h5 class="card-title text-center apointment_service_title" style=" position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);">10th Floor</h5>
                                 </div>
                               </div>
                           </a>
                        </div>

                        <!-- item-2 -->
                        <div class="col-md-6">
                           <a href="/fe/event/list">
                              <div class="card" style="width: 100%;height: 200px;">
                                 <div class="card-body">
                                   <h5 class="card-title text-center apointment_service_title" style=" position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);">11th Floor</h5>
                                 </div>
                               </div>
                           </a>
                        </div>
                     </div>


                     <br>
                     <div class="row book_an_apointment_items" style="position: relative; top: 20px;">
                        <!-- item-1 -->
                        <div class="col-md-6">
                           <a href="#">
                              <div class="card" style="width: 100%;height: 200px;">
                                 <div class="card-body">
                                   <h5 class="card-title text-center apointment_service_title" style=" position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);">Roof Top</h5>
                                 </div>
                               </div>
                           </a>
                        </div>

                        <!-- item-2 -->
<!--                        <div class="col-md-6">-->
<!--                           <a href="/fe/event/list">-->
<!--                              <div class="card" style="width: 100%;height: 200px;">-->
<!--                                 <div class="card-body">-->
<!--                                   <h5 class="card-title text-center apointment_service_title" style=" position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);">11th Floor</h5>-->
<!--                                 </div>-->
<!--                               </div>-->
<!--                           </a>-->
<!--                        </div>-->


                     </div>

                  </div>



<!-- floor details-->

               <br><br><br>
               <div class="row mall_list">

                  <!-- item-1 -->
                  <div class="col-md-4 our_shops mt-3">
                     <a href="/">
                        <img src="{% static 'front-end/images/shops/new/office2.jpg' %}" alt="">
                     </a>
                     <div class="shop_title_div">
                        <a href="/"><h3>Office</h3></a>
                     </div>
                  </div>

                  <!-- item-2 -->
                  <div class="col-md-4 our_shops mt-3">
                     <a href="/">
                        <img src="{% static 'front-end/images/shops/new/atm.jpg' %}" alt="">
                     </a>
                     <div class="shop_title_div">
                        <a href="/"><h3>Bank & atm</h3></a>
                     </div>
                  </div>

                  <!-- item-2 -->
                  <div class="col-md-4 our_shops mt-3">
                     <a href="/">
                        <img src="{% static 'front-end/images/shops/electronicss.jpg' %}" alt="">
                     </a>
                     <div class="shop_title_div">
                        <a href="/fe/shop"><h3>electronics</h3></a>
                     </div>
                  </div>


               </div>