{% extends 'front-end/index.html' %}
{% load static %}



{% block main_content %}
<!--Inner Header Start-->
         <section class="wf100 p100 inner-header">
            <div class="container">
               <br><br>
               <h1 style="color: #FFD500;">Services</h1>
            </div>
         </section>
         <!--Inner Header End-->

         <!-- about us -->
         <section id="our_service_section">
            <div class="container">

               <div class="row">
                  <div class="col-md-12">
                     <br>
                     <h2 class="text-center" style="color: #F68D20;">Our Services</h2>
                  </div>
               </div>

               <div class="row">

                  <div class="col-md-4 mb-3 mt-3 service_items">
                      <!-- card -->
                      <a href="#">
                      <div class="media">
                        <img class="mr-3" src="{% static 'front-end/images/uttara_square_img/service_icons/tax_free.png' %}" alt="Generic placeholder image">
                        <div class="media-body">
                            <h5 class="mt-0">Tax Free</h5>
                        </div>
                      </div>
                    </a>
                      <!-- card ends -->
                  </div>

                  <div class="col-md-4 mb-3 mt-3 service_items">
                    <!-- card -->
                    <a href="#">
                    <div class="media">
                      <img class="mr-3" src="{% static 'front-end/images/uttara_square_img/service_icons/locker.png' %}" alt="Generic placeholder image">
                      <div class="media-body">
                          <h5 class="mt-0">Locker</h5>
                      </div>
                    </div>
                  </a>
                    <!-- card ends -->
                </div>

                <div class="col-md-4 mb-3 mt-3 service_items">
                    <!-- card -->
                    <a href="#">
                    <div class="media">
                      <img class="mr-3" src="{% static 'front-end/images/uttara_square_img/service_icons/stroller.png' %}" alt="Generic placeholder image">
                      <div class="media-body">
                          <h5 class="mt-0">The Stroller</h5>
                      </div>
                    </div>
                  </a>
                    <!-- card ends -->
                </div>

                <div class="col-md-4 mb-3 mt-3 service_items">
                    <!-- card -->
                    <a href="#">
                    <div class="media">
                      <img class="mr-3" src="{% static 'front-end/images/uttara_square_img/service_icons/phone.png' %}" alt="Generic placeholder image">
                      <div class="media-body">
                          <h5 class="mt-0">Pay Phone</h5>
                      </div>
                    </div>
                  </a>
                    <!-- card ends -->
                </div>

                <div class="col-md-4 mb-3 mt-3 service_items">
                    <!-- card -->
                    <a href="#">
                    <div class="media">
                      <img class="mr-3" src="{% static 'front-end/images/uttara_square_img/service_icons/wifi.png' %}" alt="Generic placeholder image">
                      <div class="media-body">
                          <h5 class="mt-0">Wifi</h5>
                      </div>
                    </div>
                  </a>
                    <!-- card ends -->
                </div>

                <div class="col-md-4 mb-3 mt-3 service_items">
                    <!-- card -->
                    <a href="#">
                    <div class="media">
                      <img class="mr-3" src="{% static 'front-end/images/uttara_square_img/service_icons/vale.png' %}" alt="Generic placeholder image">
                      <div class="media-body">
                          <h5 class="mt-0">Vale</h5>
                      </div>
                    </div>
                  </a>
                    <!-- card ends -->
                </div>

                <div class="col-md-4 mb-3 mt-3 service_items">
                    <!-- card -->
                    <a href="#">
                    <div class="media">
                      <img class="mr-3" src="{% static 'front-end/images/uttara_square_img/service_icons/tailor.png' %}" alt="Generic placeholder image">
                      <div class="media-body">
                          <h5 class="mt-0">Vale</h5>
                      </div>
                    </div>
                  </a>
                    <!-- card ends -->
                </div>

                <div class="col-md-4 mb-3 mt-3 service_items">
                    <!-- card -->
                    <a href="#">
                    <div class="media">
                      <img class="mr-3" src="{% static 'front-end/images/uttara_square_img/service_icons/pharmacy.png' %}" alt="Generic placeholder image">
                      <div class="media-body">
                          <h5 class="mt-0">Pharmacy</h5>
                      </div>
                    </div>
                  </a>
                    <!-- card ends -->
                </div>

                <div class="col-md-4 mb-3 mt-3 service_items">
                    <!-- card -->
                    <a href="#">
                    <div class="media">
                      <img class="mr-3" src="{% static 'front-end/images/uttara_square_img/service_icons/mosque.png' %}" alt="Generic placeholder image">
                      <div class="media-body">
                          <h5 class="mt-0">Mosque</h5>
                      </div>
                    </div>
                  </a>
                    <!-- card ends -->
                </div>

                <div class="col-md-4 mb-3 mt-3 service_items">
                    <!-- card -->
                    <a href="#">
                    <div class="media">
                      <img class="mr-3" src="{% static 'front-end/images/uttara_square_img/service_icons/shoe_care.png' %}" alt="Generic placeholder image">
                      <div class="media-body">
                          <h5 class="mt-0">Shoe Care</h5>
                      </div>
                    </div>
                  </a>
                    <!-- card ends -->
                </div>

                <div class="col-md-4 mb-3 mt-3 service_items">
                    <!-- card -->
                    <a href="#">
                    <div class="media">
                      <img class="mr-3" src="{% static 'front-end/images/uttara_square_img/service_icons/exchange_office.png' %}" alt="Generic placeholder image">
                      <div class="media-body">
                          <h5 class="mt-0">Exchange Office</h5>
                      </div>
                    </div>
                  </a>
                    <!-- card ends -->
                </div>


                <div class="col-md-4 mb-3 mt-3 service_items">
                    <!-- card -->
                    <a href="#">
                    <div class="media">
                      <img class="mr-3" src="{% static 'front-end/images/uttara_square_img/service_icons/dry_cleaner.png' %}" alt="Generic placeholder image">
                      <div class="media-body">
                          <h5 class="mt-0">Dry Cleaner</h5>
                      </div>
                    </div>
                  </a>
                    <!-- card ends -->
                </div>


                <div class="col-md-4 mb-3 mt-3 service_items">
                    <!-- card -->
                    <a href="#">
                    <div class="media">
                      <img class="mr-3" src="{% static 'front-end/images/uttara_square_img/service_icons/disabled_toilet.png' %}" alt="Generic placeholder image">
                      <div class="media-body">
                          <h5 class="mt-0">Disabled Toilet</h5>
                      </div>
                    </div>
                  </a>
                    <!-- card ends -->
                </div>


                <div class="col-md-4 mb-3 mt-3 service_items">
                    <!-- card -->
                    <a href="#">
                    <div class="media">
                      <img class="mr-3" src="{% static 'front-end/images/uttara_square_img/service_icons/disabled_elevator.png' %}" alt="Generic placeholder image">
                      <div class="media-body">
                          <h5 class="mt-0">Disabled Elevator</h5>
                      </div>
                    </div>
                  </a>
                    <!-- card ends -->
                </div>


                <div class="col-md-4 mb-3 mt-3 service_items">
                    <!-- card -->
                    <a href="#">
                    <div class="media">
                      <img class="mr-3" src="{% static 'front-end/images/uttara_square_img/service_icons/hairdresser.png' %}" alt="Generic placeholder image">
                      <div class="media-body">
                          <h5 class="mt-0">Hairdresser</h5>
                      </div>
                    </div>
                  </a>
                    <!-- card ends -->
                </div>


                <div class="col-md-4 mb-3 mt-3 service_items">
                    <!-- card -->
                    <a href="#">
                    <div class="media">
                      <img class="mr-3" src="{% static 'front-end/images/uttara_square_img/service_icons/child_toilet.png' %}" alt="Generic placeholder image">
                      <div class="media-body">
                          <h5 class="mt-0">Children's Toilet</h5>
                      </div>
                    </div>
                  </a>
                    <!-- card ends -->
                </div>

                <div class="col-md-4 mb-3 mt-3 service_items">
                    <!-- card -->
                    <a href="#">
                    <div class="media">
                      <img class="mr-3" src="{% static 'front-end/images/uttara_square_img/service_icons/baby_care_room.png' %}" alt="Generic placeholder image">
                      <div class="media-body">
                          <h5 class="mt-0">Baby Care Room</h5>
                      </div>
                    </div>
                  </a>
                    <!-- card ends -->
                </div>

                <div class="col-md-4 mb-3 mt-3 service_items">
                    <!-- card -->
                    <a href="#">
                    <div class="media">
                      <img class="mr-3" src="{% static 'front-end/images/uttara_square_img/service_icons/atm.png' %}" alt="Generic placeholder image">
                      <div class="media-body">
                          <h5 class="mt-0">ATM</h5>
                      </div>
                    </div>
                  </a>
                    <!-- card ends -->
                </div>


               </div>

            </div>
         </section>
         <!-- ends about us -->

         <br><br>
{% endblock %}