{% extends 'front-end/index.html' %}
{% load static %}



{% block main_content %}
        <!--Inner Header Start-->
         <section class="wf100 p100 inner-header">
            <div class="container">
               <br><br><br>
               <h1>Explore Our Floors</h1>
            </div>
         </section>
         <!--Inner Header End-->
         <!--Contact Start-->
         <section class="shop wf100 p80" id="store_directory_by_floor">
            <div class="container">
               <div class="row">
                  
                  <div class="col-md-6">
                     <div>
                        <h1>B1 & B2</h1>
                        <h3>CAR PARKING</h3>
                     </div>
                  </div>
                  
                  <div class="col-md-6">
                     <div>
                         <img src="{% static 'front-end/images/store_directory/car-parking.jpg' %}" style="width:80%; height: 400px;" alt="">
                     </div>
                  </div>
                  
               </div>
            </div>
         </section>
         <!--Contact End-->

        <!--Contact Start-->
         <section class="shop wf100 p80">
            <div class="container">
               <div class="row">

                   <div class="col-md-6">
                     <div>
                         <img src="{% static 'front-end/images/shops/new/shop3.jpg' %}" style="width:80%; height: 400px;" alt="">
                     </div>
                  </div>

                  <div class="col-md-6">
                     <div>
                        <h1 style="opacity:0.7;">SEMI BASEMENT</h1>
                        <h3>SUPER MARKETS</h3>
                     </div>
                  </div>

               </div>
            </div>
         </section>
         <!--Contact End-->

        <!--Contact Start-->
         <section class="shop wf100 p80" id="store_directory_by_floor">
            <div class="container">
               <div class="row">

                  <div class="col-md-6">
                     <div>
                        <h1 style="opacity:0.7;">GROUND FLOOR</h1>
                        <h3>COSMETICS, IMITATION JEWELLERIES, KID'S TOYS</h3>
                     </div>
                  </div>

                   <div class="col-md-6">
                     <div>
                         <img src="{% static 'front-end/images/store_directory/cosmetics.jpg' %}" style="width:80%; height: 400px;" alt="">
                     </div>
                  </div>

               </div>
            </div>
         </section>
         <!--Contact End-->

        <!--Contact Start-->
         <section class="shop wf100 p80" >
            <div class="container">
               <div class="row">

                   <div class="col-md-6">
                     <div>
                         <img src="{% static 'front-end/images/store_directory/gents_clothing.jpg' %}" style="width:80%; height: 400px;" alt="">
                     </div>
                  </div>

                  <div class="col-md-6">
                     <div>
                        <h1 style="opacity:0.7;">1ST FLOOR</h1>
                        <h3>COSMETICS, IMITATION JEWELLERIES, KID'S TOYS</h3>
                     </div>
                  </div>

               </div>
            </div>
         </section>
         <!--Contact End-->

        <!--Contact Start-->
         <section class="shop wf100 p80" id="store_directory_by_floor">
            <div class="container">
               <div class="row">

                  <div class="col-md-6">
                     <div>
                        <h1 style="opacity:0.7;">2ND FLOOR</h1>
                        <h3>LADIES & CHILDREN'S CLOTHING</h3>
                     </div>
                  </div>

                   <div class="col-md-6">
                     <div>
                         <img src="{% static 'front-end/images/store_directory/ladies_clothing.jpg' %}" style="width:80%; height: 400px;" alt="">
                     </div>
                  </div>

               </div>
            </div>
         </section>
         <!--Contact End-->

        <!--Contact Start-->
         <section class="shop wf100 p80">
            <div class="container">
               <div class="row">

                   <div class="col-md-6">
                     <div>
                         <img src="{% static 'front-end/images/store_directory/jewllery.jpg' %}" style="width:80%; height: 400px;" alt="">
                     </div>
                  </div>

                  <div class="col-md-6">
                     <div>
                        <h1 style="opacity:0.7;">3RD FLOOR</h1>
                        <h3>SPECTACLES, WATCHES & JEWELLERY</h3>
                     </div>
                  </div>

               </div>
            </div>
         </section>
         <!--Contact End-->

        <!--Contact Start-->
         <section class="shop wf100 p80" id="store_directory_by_floor">
            <div class="container">
               <div class="row">

                   <div class="col-md-6">
                     <div>
                        <h1 style="opacity:0.7;">4TH FLOOR</h1>
                        <h3>SHOES & GIFT ITEMS</h3>
                     </div>
                  </div>

                   <div class="col-md-6">
                     <div>
                         <img src="{% static 'front-end/images/store_directory/gift.jpg' %}" style="width:80%; height: 400px;" alt="">
                     </div>
                  </div>

               </div>
            </div>
         </section>
         <!--Contact End-->

        <!--Contact Start-->
         <section class="shop wf100 p80">
            <div class="container">
               <div class="row">

                   <div class="col-md-6">
                     <div>
                         <img src="{% static 'front-end/images/store_directory/mobile-computer.png' %}" style="width:80%; height: 400px;" alt="">
                     </div>
                  </div>

                   <div class="col-md-6">
                     <div>
                        <h1 style="opacity:0.7;">5TH FLOOR</h1>
                        <h3>MOBILE, COMPUTERS, GADGETS & ELECTRONICS</h3>
                     </div>
                  </div>

               </div>
            </div>
         </section>
         <!--Contact End-->

        <!--Contact Start-->
         <section class="shop wf100 p80" id="store_directory_by_floor">
            <div class="container">
               <div class="row">

                   <div class="col-md-6">
                     <div>
                        <h1 style="opacity:0.7;">6TH FLOOR</h1>
                        <h3>FOOD COURT</h3>
                     </div>
                  </div>

                   <div class="col-md-6">
                     <div>
                         <img src="{% static 'front-end/images/store_directory/restaurant.jpg' %}" style="width:80%; height: 400px;" alt="">
                     </div>
                  </div>

               </div>
            </div>
         </section>
         <!--Contact End-->

        <!--Contact Start-->
         <section class="shop wf100 p80">
            <div class="container">
               <div class="row">

                   <div class="col-md-6">
                     <div>
                         <img src="{% static 'front-end/images/store_directory/restaurant1.jpeg' %}" style="width:80%; height: 400px;" alt="">
                     </div>
                  </div>

                   <div class="col-md-6">
                     <div>
                        <h1 style="opacity:0.7;">7TH FLOOR</h1>
                        <h3>RESTAURANTS</h3>
                     </div>
                  </div>

               </div>
            </div>
         </section>
         <!--Contact End-->

        <!--Contact Start-->
         <section class="shop wf100 p80" id="store_directory_by_floor">
            <div class="container">
               <div class="row">

                   <div class="col-md-6">
                     <div>
                        <h1 style="opacity:0.7;">8TH TO 11TH</h1>
                        <h3>FLOORS COMMERCIAL OFFICES, BANKS, EXCLUSIVE SHOWROOMS</h3>
                     </div>
                  </div>

                   <div class="col-md-6">
                     <div>
                         <img src="{% static 'front-end/images/store_directory/office1.jpg' %}" style="width:80%; height: 400px;" alt="">
                     </div>
                  </div>

               </div>
            </div>
         </section>
         <!--Contact End-->

        <!--Contact Start-->
         <section class="shop wf100 p80">
            <div class="container">
               <div class="row">

                   <div class="col-md-6">
                     <div>
                         <img src="{% static 'front-end/images/store_directory/convention-centre.jpeg' %}" style="width:80%; height: 400px;" alt="">
                     </div>
                  </div>

                   <div class="col-md-6">
                     <div>
                        <h1 style="opacity:0.7;">12TH FLOOR</h1>
                        <h3>CONVENTION CENTER</h3>
                     </div>
                  </div>

               </div>
            </div>
         </section>
         <!--Contact End-->

        <!--Contact Start-->
         <section class="shop wf100 p80" id="store_directory_by_floor">
            <div class="container">
               <div class="row">

                   <div class="col-md-6">
                     <div>
                        <h1 style="opacity:0.7;">13TH FLOOR</h1>
                        <h3>DUPLEX CONVENTION HALL</h3>
                     </div>
                  </div>

                   <div class="col-md-6">
                     <div>
                         <img src="{% static 'front-end/images/store_directory/convention.jpg' %}" style="width:80%; height: 400px;" alt="">
                     </div>
                  </div>

               </div>
            </div>
         </section>
         <!--Contact End-->

        <!--Contact Start-->
         <section class="shop wf100 p80">
            <div class="container">
               <div class="row">

                   <div class="col-md-6">
                     <div>
                         <img src="{% static 'front-end/images/store_directory/rooftop.jpeg' %}" style="width:80%; height: 400px;" alt="">
                     </div>
                  </div>

                   <div class="col-md-6">
                     <div>
                        <h1 style="opacity:0.7;">14TH FLOOR</h1>
                        <h3>ROOFTOP GARDEN RESTAURANT</h3>
                     </div>
                  </div>

               </div>
            </div>
         </section>
         <!--Contact End-->


{% endblock %}